body {
    font-family: monospace;
    margin: 0;
}

.h1 {
  background-image: url("https://media.istockphoto.com/id/1042321668/photo/italian-pizza-and-pizza-cooking-ingredients-on-black-concrete-background.jpg?s=612x612&w=0&k=20&c=pxhbjC6ulYXWbsFGU2UIodn6SHZEBcKQIuDKFvKQBDE=");
  margin: 10px;
}
